@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'poppins';
}

body {
    background-image: url('../images/VectorRedbg.png');
    width: 100%;
    background-size: cover;
}

.btn {
    width: 100%;
    /* Set button width to 100% */
    max-width: 100%;
    /* Adjust the maximum width as needed */
    border-radius: 5px;
    background-color: #FDA700 !important;
    padding: 3px;
    font-size: 18px;
    border: none;
    margin-left: 5px !important;
    color: white;
}

.btn:hover {
    opacity: 0.8 !important;
    color: white;
}

.form-control {
    border: 1px solid gray;
}


/*for responsive small size*/
@media (max-width: 768px) {
    .checkemail {
        margin-top: -10px !important;
    }
}

.link {
    text-decoration: none;
    color: white;
}