body {
    background-color: #f0f0f0;
}

.custom-container {
    width: 180px;
    height: 270px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.offcanvas-body {
    background-color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #711717;
    width: 100% !important;
    color: white !important;
}

.dropdown-toggle::after {
    color: orange !important;
}

.selectOption {
    font-size: 13px !important;
    width: 200px !important;
    height: 35px !important;
}

.minimize-button {
    width: 60px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 13px;
}

.minimize-button:hover {
    background-color: #711717;
    color: white;
}

.wishlist-button {
    background-color: transparent;
    border: 1px solid #711717;
    color: #711717;
    border-radius: 3px;
    width: 100px;
    margin-top: -5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.wishlist {
    background-color: transparent;
    border: 1px solid #711717;
    color: #711717;
    border-radius: 3px;
    width: 40px;
    margin-top: -5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.wishlist-button:hover {
    background-color: #711717;
    color: white;
    border-color: #711717;
    border-radius: 5px;
}

.wishlist:hover {
    background-color: #711717;
    color: white;
    border-color: #711717;
    border-radius: 5px;
}

.new-button {
    background-color: orange;
    color: white;
    padding: 3px 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    border: none;
}

.custom-container {
    position: relative;
}

.navbar-toggler {
    background-color: #711717 !important;
}

.dropdown-item:hover {
    background-color: #fd7e14;
    color: white;
}

.navbarTop {
    background-color: white;
}


td {
    vertical-align: middle !important;
}

/* CSS for Star Rating */

.rating label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #f5a623;
}

.rating label:before {
    content: "\2605";
}

.rating input:checked~label:before {
    content: "\2605";
    color: #f5a623;
}


.rating {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.smiley-label {
    position: relative;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.smiley-label.selected {
    background-color: #f5a623;

}

.stars {
    position: absolute;
    top: -50px;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
}


/* Add background color to smiley icons */
.smiley-label i {
    padding: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.feedback-title {
    color: #711717;
}

.swal2-confirm {
    background-color: #711717 !important;
    color: white !important;
    border: none !important;
    padding: 5px 20px !important;
}

.swal2-cancel {
    background-color: #d3d3d3 !important;
    color: black !important;
    padding: 5px 20px !important;
}

.navbarTop {
    height: 50px !important;
}

.navbar-dark .navbar-toggler {
    color: white;
}