@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300&display=swap');

* {
    font-font: poppins;
    ;
}

.forgotpass {
    text-decoration: none;
    color: #505050;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.login {
    text-align: left;
    margin-top: 10px;
}

.submit {
    font-size: 15px;
    background-color: #2EB082;
    padding: 4px 25px;
    color: white;
    border: none;
    border-radius: 3px;
}

.google-signin-button {
    width: 100%;
    border: 1px solid darkred;
    color: black;
    margin-top: 0px;
    border-radius: 5px;
}

body {
    background: linear-gradient(to right, #711717, #FDA700);
}

.btn {
    width: 100%;
    /* Set button width to 100% */
    max-width: 100%;
    /* Adjust the maximum width as needed */
    border-radius: 5px;
    background-color: darkred !important;
    padding: 3px;
    font-size: 18px;
    border: none;
}

.btn:hover {
    opacity: 0.5 !important;
}

@media (max-width: 768px) {
    .right {
        margin-top: -50px !important;
        margin: 0 auto;
        /* Center the column horizontally */
        max-width: 100%;
        /* Ensure the column takes up the full width of the screen */
    }

    .hello {
        margin-left: 25px !important;
    }
}