@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: poppins;
}
body{
    background-color: #f0f0f0;
}

.bg-red{
    background-color: hsl(0, 66%, 27%);
    width: 140px;
    height: 100vh;

}

.rowDash{
    margin-top: -20px;

}

/*for responsivness*/

@media (max-width: 576px) {
    .big-white{
        width:100%;
        
    }
    .bg-red{
        width: 20%;
    }
}

.big-white .navbar-brand{
    font-size: 15px;
}



/*Start sidebar*/
.bg-red .nav-link{
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 50px;
}
.bg-red .nav-link:hover{
    color:rgb(0, 0, 0);
    background-color:  #dbdbdb;
    width: 130px;
    margin-left: -16px;
    border-radius: 0;
    font-weight: bolder;
    box-shadow: 1px 1px rgb(73, 71, 71);
    cursor: pointer;
}


.nav-link img {
    transition: filter 0.1s;
}

.nav-link:hover img {
    filter: brightness(10) invert(1);
}

/*end of sidebar*/





.DashImage{
    width: 20px;
    height: 20px;
}
.box-border{
    width: 100%;
    height: 51px;

}
.avatar{
    width: 45px;
    height: 45px;
    margin-top: -70px;
    margin-left: 1070px;
    
}
#DashboardContent{
    font-weight: bold;
    font-size: 20px;
    color: #434343;
    margin-top: -50px;
    margin-left: 15px;
}

@media (max-width: 576px) {
    .sm-11{
        width:100%;
        
    }
    .big-white .navbar-brand{
        font-size: 13px;
    }
    .avatar{
        width: 35px;
        height: 35px;   
        margin-top: 25;
        margin-left: -65px;
    }
    #DashboardContent{
        font-weight: bold;
        font-size: 15px;
        color: #434343;
        margin-top: -70px;
        margin-left: 15px;
    }
    .addbook a{
        color: gray;
        text-decoration: none;
        font-size: 10px;
        margin-left: 30px;
        
    }
    .addbook a:hover{
        color: black;
        text-decoration: underline  #fda700;
        letter-spacing: 1px;
    }
    .bg-red .nav-link{
        color: #fff;
        background-color: hsl(0, 66%, 27%);
        margin-bottom: 10px;
        padding-left: 50px;
    }
    .bg-red .nav-link:hover{
        background-color:  hsl(0, 26%, 73%);
        opacity: 0.6;
        width: 78px;
        margin-left: 0px;
        border-radius: 0;
        font-weight: bolder;
        box-shadow: 1px 1px rgb(73, 71, 71);
       
    }
    .selectOption  option{
        color:black;
        font-size: 9px;
      }
    
}



.addbook{
    background-color: #ffffff;
}


.ImportFile{
   padding: 20px;
    margin-top: 10px;
}
.ImportFile h6{
    margin-top: 40px;
}
.ImportFile input{
    width: 100%;
}
.addbook a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    margin-left: 30px;
  
    
}
.addbook a:hover{
    color: black;
    text-decoration: underline  #fda700;
    letter-spacing: 1px;
}


.selectOption {
    color: darkred;
  }
.formCategory{
    margin-top: 0px;
    margin-left: 10px;
    color: gray;
    font-size: 13px;
}
.selectOption  option{
    color:black;
    font-size: 13px;
  }

  .import{
    width: 20px;
    height: 20px;
    margin-left: -8px;
  }

  #myfile{
    border: 2px solid gray;
    width: 200px;
    height: 320px;
    margin-top: 50px;
    background-color: #f1efef;
    cursor: pointer;
  }

.custom-width-capitalize{
    text-transform: capitalize;
}
  .custom-width {
    width: 150px; 
}

textarea{
    width:210%;
    height:100px;
    }

.selectOptionGenre  option{
        color:black;
        font-size: 12px;
      }

  .selectOptionGenre {
        font-size: 15px;
        width: 100%; 
    }    



  .ImportFile h6{
    color: #434343;
    font-size: 14px;
  }  

.buttonAdd{
    margin-top: 20px;
    margin-left: 40px;
}
 
